	<% if @restaurants.any? %>
	<% @restaurants.each do |restaurant| %>
	<div class="restaurant">
		<h2><%= restaurant.name %>
				<%= restaurant.cuisine %></h2>
				<h3>Average rating: (<%= star_rating(restaurant.average_rating) %>)</h3>

				<%= link_to('Edit', edit_restaurant_path(restaurant)) %>
				<%= link_to('Delete', restaurant_path(restaurant), method: :delete) %>
				<%= link_to('Show Reviews') %>

				<ul>
					<% restaurant.reviews.each do |review| %>
						<li><%= "#{review.thoughts} (#{star_rating(review.rating)})" %>
							<%= "- Posted #{time_ago_in_words(review.created_at)} ago "%>
							<span class="likes_count">
								<%= "likes: #{review.likes.count}" %>
							</span>
							<%= link_to('Like', review_likes_path(review), class: 'like') %></li>
							<hr>
					<% end %>
				</ul>
				<%= render 'reviews/reviewform', restaurant: restaurant %>
	</div>
	<hr>
	<%end%>
<% else %>
	<h2>No restaurants have been added<h2>
<%end %>