<!DOCTYPE html>
<html>
<head>
  <title>Yelp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
  <meta charset='utf-8'>
</head>
<body>
	<header>
		<div class="header_content">
		<div class="logo">Rest. Reviewer !</div>
		<%= link_to('Add Restaurant', new_restaurant_path, class: 'add_restaurant_btn') %>
		<% if current_user %>
			<%= link_to('Sign out', destroy_user_session_path, method: :delete, class: 'sign_out_btn') %>
		<% end %>
	</div>
	</header>

<section class="main_content">
	<% if notice %>
	<div class="notice" >
		<%= notice %>
	</div>
	<% end %>
<%= yield %>
</section>

</body>
</html>
